.header {
    background-color: $color-white;
    &__container_top {
        width: 1150px;
        height: 45px;
        margin: 20px auto;
        display: flex;
        & > *:not(:last-child) {
            margin-right: 2rem;
        }
    }
    &__country {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        img {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin-left: auto;
        }
        div {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin-left: 11px;
        }
    }
    &__content {
        widht: 100%;
        height: 780px;
        border-bottom: 2px solid darkgray;
    }
    &__bg {
        width: 100%;
        height: 720px;
        background: url("../../img/bgimg.png") no-repeat center top;
    }
    &__overlay {
        width: 100%;
        height: 700px;
        background:rgba(0,0,0,.4);
    }
    &__container_center {
        width: 1150px;
        margin: 0 auto;
        position: relative;
        .header__menu {
            display: flex;
            .menu__logo {
                margin-top: 40px;
            }
            .menu__list {
                display: flex;
                justify-content: space-between;
                margin-left: auto;
                text-decoration: none;
                list-style: none;
                color: $color-white;
                font-size: 1.5rem;
                & >li {
                    padding: 5px;
                    border: 1px solid transparent;  
                }
                & >li:hover {
                    cursor: pointer;
                    color: lightgreen;
                    transition: all .5s;
                    border: 1px solid $color-white;
                    border-radius: 8%; 
                    z-index: 1000;
                    padding: 5px;
                }
                & > li:not(:last-child) {
                    margin-right: 40px;  
                }
                & > li {
                    margin-top: 3rem;
                }
            }
        }
        .header__description {
            width: 500px;
            padding: 0;
            margin-top: 11rem;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            color: $color-white;
           
            & > * + *:not(:last-child) {
                margin-bottom: 3rem;
            }
            .header__button {
                background-color: $color-blue_btn;
                color: $color-white;
                padding: 1rem 2.5rem;
                &:hover {
                    background-color: lightgreen;
                    transition: all 1s;
                }
            }
        }
        .header__button {
            display: inline-block;
        }
        .header__title {
            font-size: 3rem;
        }
        .header__control {
            display: flex;
            justify-content: center;
        }
        .header__image {
            display: inline-block;
            & > :nth-child(1) {
                z-index: 900;
                position: absolute;
                right: 0;
                top: 132px;
            }
            & > :nth-child(2) {
                z-index: 1000;
                position: absolute;
                right: 22px;
                top: 232px;
            }
            & > :nth-child(3) {
                z-index: 700;
                position: absolute;
                right: 150px;
                top: 195px;
            }
            & > :nth-child(4) {
                z-index: 800;
                position: absolute;
                right: 170px;
                top: 284px;
            }
        }
        .header__control {
            display: inline-block;
            color: $color-white;
            margin: 11rem 0 1rem 40rem;
            & > * {
                display: inline-block;
            }
        }
    }

}