.start {
    color: black;
    &__container {
        width: 1150px;
        height: 500px;
        margin: 0 auto;
        position: relative;
    }
    &__container > * + * {
        margin-top: 2rem;
    }
    .content {
        &__logo {
            .outer {
                position: absolute;
                left: 420px;
                top: 80px;
            }
            .inner {
                position: absolute;
                left: 450px;
                top: 120px;
            }
        }
    }
}