.advantages {
  color: black; }
  .advantages__title {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
    font-size: 2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black; }
  .advantages__container {
    width: 1150px;
    height: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 355px); }
    .advantages__container .item1 {
      background: url("../../img/advbg1.png");
      background-size: 100% 100%;
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .advantages__container .item2 {
      background: url("../../img/advbg2.png");
      background-size: 100% 100%;
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    .advantages__container .item3 {
      background: url("../../img/advbg3.png");
      background-size: 100% 100%;
      grid-column: 1 / 2;
      grid-row: 2 / 3; }
    .advantages__container .item4 {
      background: url("../../img/advbg4.png");
      background-size: 100% 100%;
      grid-column: 2 / 3;
      grid-row: 2 / 3; }
    .advantages__container .item5 {
      background: url("../../img/advbg5.png");
      background-size: 100% 100%;
      grid-column: 1 / 2;
      grid-row: 3 / 4; }
    .advantages__container .item6 {
      background: url("../../img/advbg6.png");
      background-size: 100% 100%;
      grid-column: 2 / 3;
      grid-row: 3 / 4; }
  .advantages__items {
    width: 575px;
    height: 355px;
    padding: 0; }
    .advantages__items .overlay {
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 177px;
      margin-top: 75px; }
      .advantages__items .overlay__text {
        width: 200px;
        margin-left: 15rem;
        padding-top: 5rem;
        font-size: 1.4rem; }
    .advantages__items .advantages__overlay {
      color: #fff;
      text-align: center; }

.footer {
  background-color: #0082a1;
  color: white; }
  .footer__container {
    width: 1150px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1px auto;
    grid-gap: 2rem; }
    .footer__container .footer__company {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    .footer__container .footer__modules {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
      .footer__container .footer__modules > * {
        padding-left: 5rem; }
    .footer__container .footer__industries {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: left;
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
      .footer__container .footer__industries > * {
        padding-left: 10rem; }
    .footer__container .footer__about {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      grid-column: 4 / 5;
      grid-row: 1 / 2; }
      .footer__container .footer__about > * {
        padding-left: 7rem; }
    .footer__container .footer_bottom {
      grid-column: 1 / 5;
      grid-row: 3 / 4;
      margin: 4rem auto; }
    .footer__container .hr {
      grid-column: 1 / 5;
      grid-row: 2 / 3; }
      .footer__container .hr hr {
        width: 100%;
        height: 1px;
        color: lightgreen; }
  .footer a {
    text-decoration: none;
    list-style-type: none;
    color: #fff; }
    .footer a:hover {
      cursor: pointer;
      color: lightgreen; }

.header {
  background-color: #fff; }
  .header__container_top {
    width: 1150px;
    height: 45px;
    margin: 20px auto;
    display: flex; }
    .header__container_top > *:not(:last-child) {
      margin-right: 2rem; }
  .header__country {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto; }
    .header__country img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin-left: auto; }
    .header__country div {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin-left: 11px; }
  .header__content {
    widht: 100%;
    height: 780px;
    border-bottom: 2px solid darkgray; }
  .header__bg {
    width: 100%;
    height: 720px;
    background: url("../../img/bgimg.png") no-repeat center top; }
  .header__overlay {
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.4); }
  .header__container_center {
    width: 1150px;
    margin: 0 auto;
    position: relative; }
    .header__container_center .header__menu {
      display: flex; }
      .header__container_center .header__menu .menu__logo {
        margin-top: 40px; }
      .header__container_center .header__menu .menu__list {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        text-decoration: none;
        list-style: none;
        color: #fff;
        font-size: 1.5rem; }
        .header__container_center .header__menu .menu__list > li {
          padding: 5px;
          border: 1px solid transparent; }
        .header__container_center .header__menu .menu__list > li:hover {
          cursor: pointer;
          color: lightgreen;
          transition: all .5s;
          border: 1px solid #fff;
          border-radius: 8%;
          z-index: 1000;
          padding: 5px; }
        .header__container_center .header__menu .menu__list > li:not(:last-child) {
          margin-right: 40px; }
        .header__container_center .header__menu .menu__list > li {
          margin-top: 3rem; }
    .header__container_center .header__description {
      width: 500px;
      padding: 0;
      margin-top: 11rem;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      color: #fff; }
      .header__container_center .header__description > * + *:not(:last-child) {
        margin-bottom: 3rem; }
      .header__container_center .header__description .header__button {
        background-color: #00BFFF;
        color: #fff;
        padding: 1rem 2.5rem; }
        .header__container_center .header__description .header__button:hover {
          background-color: lightgreen;
          transition: all 1s; }
    .header__container_center .header__button {
      display: inline-block; }
    .header__container_center .header__title {
      font-size: 3rem; }
    .header__container_center .header__control {
      display: flex;
      justify-content: center; }
    .header__container_center .header__image {
      display: inline-block; }
      .header__container_center .header__image > :nth-child(1) {
        z-index: 900;
        position: absolute;
        right: 0;
        top: 132px; }
      .header__container_center .header__image > :nth-child(2) {
        z-index: 1000;
        position: absolute;
        right: 22px;
        top: 232px; }
      .header__container_center .header__image > :nth-child(3) {
        z-index: 700;
        position: absolute;
        right: 150px;
        top: 195px; }
      .header__container_center .header__image > :nth-child(4) {
        z-index: 800;
        position: absolute;
        right: 170px;
        top: 284px; }
    .header__container_center .header__control {
      display: inline-block;
      color: #fff;
      margin: 11rem 0 1rem 40rem; }
      .header__container_center .header__control > * {
        display: inline-block; }

.opportunities {
  background-color: #fff; }
  .opportunities__container {
    width: 1150px;
    height: 800px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 240px); }
  .opportunities__items_top1 {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .opportunities__items_top2 {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2; }
  .opportunities__items_top3 {
    position: relative;
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
  .opportunities__title {
    position: relative;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-size: 3rem; }
    .opportunities__title > * {
      position: absolute; }
    .opportunities__title > :first-child {
      top: 50px;
      left: 480px; }
    .opportunities__title > :nth-child(2) {
      top: 80px;
      left: 480px; }
    .opportunities__title > :last-child {
      top: 170px;
      left: 480px; }
  .opportunities__items_bottom1 {
    position: relative;
    grid-column: 1 / 4;
    grid-row: 3 / 4; }
  .opportunities__items_bottom2 {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 3 / 4; }
  .opportunities__items_bottom3 {
    position: relative;
    grid-column: 3 / 4;
    grid-row: 3 / 4; }

p {
  position: absolute;
  top: 160px;
  left: 110px;
  width: 150px;
  height: 50px;
  text-align: center; }

.solutions {
  position: relative;
  background: url("../../img/solbg.png"); }
  .solutions__overlay {
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    background: rgba(51, 48, 48, 0.5); }
    .solutions__overlay hr {
      margin-top: 3rem;
      z-index: 2000;
      width: 100%;
      height: 1px;
      color: black; }
  .solutions__container {
    width: 1150px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
  .solutions__title {
    width: 450px;
    height: 35px;
    text-align: center;
    margin: 3rem auto;
    color: #fff;
    font-size: 2rem;
    z-index: 1000; }
  .solutions__menu {
    color: #fff;
    z-index: 1000; }
    .solutions__menu ul {
      width: 800px;
      margin: 1rem auto;
      padding: 1rem;
      border: 1px solid #fff;
      text-decoration: none;
      list-style-type: none;
      display: flex;
      justify-content: space-around; }
      .solutions__menu ul > *:not(:nth-child(6)) {
        display: inline-block;
        padding-right: 30px;
        border-right: 1px solid #fff; }
      .solutions__menu ul > *:hover {
        cursor: pointer;
        color: #00FFFF; }
  .solutions__content {
    margin: 0;
    display: flex;
    justify-content: space-around; }
    .solutions__content .slider__arrow_left,
    .solutions__content .slider__arrow_right {
      margin-top: 270px;
      margin-left: 450px;
      margin-right: 450px;
      z-index: 1000; }
    .solutions__content .slider__laptop {
      position: absolute;
      left: 480px;
      top: 200px; }
    .solutions__content .slider__laptopimg {
      position: absolute;
      left: 606px;
      top: 237px; }

.start {
  color: black; }
  .start__container {
    width: 1150px;
    height: 700px;
    margin: 0 auto;
    position: relative; }
  .start__container > * + * {
    margin-top: 2rem; }
  .start .content__logo .outer {
    position: absolute;
    left: 420px;
    top: 80px; }
  .start .content__logo .inner {
    position: absolute;
    left: 450px;
    top: 120px; }
  .start .content__text {
    position: absolute;
    font-size: 2rem;
    top: 400px;
    left: 350px;
    text-align: center;
    width: 450px; }
  .start .content__btn {
    position: absolute;
    color: #fff;
    top: 550px;
    left: 510px;
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: #1cc0dc; }
    .start .content__btn:hover {
      background-color: lightgreen;
      transition: all 1s; }

.variants {
  color: #fff; }
  .variants__container {
    width: 100%;
    height: 480px;
    margin: 3rem auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1, 380px; }
  .variants__title {
    position: absolute;
    width: 300px;
    text-align: center;
    left: 790px;
    top: 50px;
    font-size: 2rem;
    z-index: 1100; }
  .variants_left {
    background: url("../../img/var1.png");
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative; }
    .variants_left h2 {
      z-index: 1100;
      color: #fff;
      text-align: right;
      position: absolute;
      right: 50px;
      top: 180px;
      font-size: 2rem; }
    .variants_left h3 {
      z-index: 1100;
      color: #fff;
      text-align: right;
      position: absolute;
      right: 50px;
      top: 230px;
      width: 350px; }
    .variants_left img {
      z-index: 1000;
      position: absolute;
      right: 30px;
      top: 150px; }
    .variants_left .variants__overlay {
      position: absolute;
      width: 100%;
      height: 480px;
      top: 0;
      left: 0;
      background: rgba(51, 48, 48, 0.5);
      z-index: 800; }
      .variants_left .variants__overlay hr {
        margin-top: 4rem; }
  .variants_right {
    background: url("../../img/var2.png");
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative; }
    .variants_right h2 {
      z-index: 1100;
      color: #fff;
      text-align: right;
      position: absolute;
      left: 50px;
      top: 180px;
      font-size: 2rem; }
    .variants_right h3 {
      z-index: 1100;
      color: #fff;
      text-align: left;
      position: absolute;
      left: 50px;
      top: 230px;
      width: 350px; }
    .variants_right img {
      z-index: 1000;
      position: absolute;
      left: 30px;
      top: 150px; }
    .variants_right .variants__overlay_right {
      position: absolute;
      width: 100%;
      height: 480px;
      top: 0;
      left: 0;
      background: rgba(51, 48, 48, 0.5);
      z-index: 800; }
      .variants_right .variants__overlay_right hr {
        margin-top: 4rem; }

.pageup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px; }
  .pageup img {
    width: 100%; }

html {
  box-sizing: border-box;
  font-size: 12px; }

*,
::before,
::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
